<form [formGroup]="workerForm" class="workers-filters" fxLayout="column">
  <mat-form-field fyFlex="20%">
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name" />
  </mat-form-field>
  <mat-form-field fyFlex="20%" fxFlexOffset="5%">
    <mat-label>Czy pracuje</mat-label>
    <input matInput type="text" formControlName="isWorking" />
  </mat-form-field>
  <mat-form-field fyFlex="20%" fxFlexOffset="5%">
    <mat-label>Age</mat-label>
    <input matInput type="number" formControlName="age" />
  </mat-form-field>
  <mat-form-field fxFlex="20%" fxFlexOffset="5%">
    <mat-label>City</mat-label>
    <input matInput type="text" formControlName="city" />
  </mat-form-field>
  <button
    mat-raised-button
    [mat-dialog-close]="workerForm"
    [disabled]="workerForm.invalid"
    type="submit"
    (click)="onClick()"
  >
    {{ buttonText }}
  </button>
</form>
