<div class="header">
  <div class="add-worker-btn">
    <button mat-raised-button (click)="onAddWorkerButtonClick()">Dodaj</button>
  </div>
  <div class="filters-menu">
    <h2>Filtry</h2>
    <app-workers-filters
      [state]="filters$ | async"
      (changed)="onFiltersChanged($event)"
      class="filters"
    ></app-workers-filters>
  </div>
</div>

<div class="workers-list">
  <app-workers-list
    [workers]="list$ | async"
    (editedEmployee)="onEmployeeEdit($event)"
    (removedEmployee)="onEmployeeRemove($event)"
  ></app-workers-list>
</div>