.header{
  display: flex;
  align-items: center;
  width: 100%;
  height:20%;
  box-shadow: 1px 5px 5px rgba(0,0,0,0.1);
}

.add-worker-btn{
  margin-left: 50px;
  width: 20%;
}
.workers-list{
  display: flex;
  width: 50%;
  flex-wrap: wrap;
}
