<form
  [formGroup]="form"
  class="workers-filters"
  fxLayout="row"
  fxLayoutAlign="space-around center"
>
  <mat-form-field fxFlex="auto">
    <mat-label>Nazwa</mat-label>
    <input
      matInput
      type="text"
      formControlName="name"
      [matAutocomplete]="autoName"
      autocomplete="off"
    />
    <mat-autocomplete #autoName="matAutocomplete">
      <mat-option *ngFor="let name of autoCompleteNames" [value]="name">{{
        name
      }}</mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field fxFlex="auto" fxFlexOffset="1">
    <mat-label>Wiek</mat-label>
    <input matInput type="number" formControlName="age" />
  </mat-form-field>

  <mat-form-field fxFlex="auto" fxFlexOffset="1">
    <mat-label>Miasto</mat-label>
    <input
      matInput
      type="text"
      formControlName="city"
      [matAutocomplete]="autoCity"
      autocomplete="off"
    />
    <mat-autocomplete #autoCity="matAutocomplete">
      <mat-option *ngFor="let city of autoCompleteCities" [value]="city">{{
        city
      }}</mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field fxFlex="auto" fxFlexOffset="1">
    <mat-label>Status pracy</mat-label>
    <mat-select formControlName="isWorking">
      <mat-option>wszystkie</mat-option>
      <mat-option [value]="true">pracujący</mat-option>
      <mat-option [value]="false">bezrobotny</mat-option>
    </mat-select>
  </mat-form-field>

  <button
    mat-stroked-button
    class="reset-filters-button"
    (click)="resetFilters()"
    fxFlex="auto"
    fxFlexOffset="1"
  >
    Zresetuj filtry
  </button>
</form>
