<form [formGroup]="form" class="workers-filters" fxLayout="row">
  <mat-form-field fxFlex="10%">
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name">
  </mat-form-field>
  <mat-form-field fxFlex="10%" fxFlexOffset="1%">
    <mat-label>Age</mat-label>
    <input matInput type="number" formControlName="age">
  </mat-form-field>
  <mat-form-field fxFlex="10%" fxFlexOffset="1%">
    <mat-label>City</mat-label>
    <input matInput type="text" formControlName="city">
  </mat-form-field>

  <mat-form-field fxFlex="10%" fxFlexOffset="1%">
    <mat-select placeholder="Is working" formControlName="isWorking">
      <mat-option [value]="true">
        Yes
      </mat-option>
      <mat-option [value]="false">
        No
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button (click)="resetFilters()">Reset</button>
</form>

