<mat-card>
  <form [formGroup]="form" class="workers-filters" fxLayout="row">
    <mat-form-field fxFlex="20%">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>
    <mat-form-field fxFlex="20%" fxFlexOffset="5%">
      <mat-label>Age</mat-label>
      <input matInput type="number" formControlName="age" />
    </mat-form-field>
    <mat-form-field fxFlex="20%" fxFlexOffset="5%">
      <mat-label>City</mat-label>
      <input matInput type="text" formControlName="city" />
    </mat-form-field>
  </form>
</mat-card>
